
@{
    ViewBag.Title = "Yammer Auth";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Web.AnalyticsWeb.Models.YammerAuthPageModel

<h2>Yammer Auth</h2>

<a href="@Model.YammerAuthURL">Auth for Yammer</a>

@if (Model.YammerCodeStatus.HaveCode)
{
    <p>Have a code from: @Model.YammerCodeStatus.Created</p>
}
else
{
    <p>No auth code found in redis.</p>
}