################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/AnalyticsEngine/Web/Web.config
/src/AnalyticsEngine/Web/Web.Debug.config
**/.vs
/src/Misc/BuildsSite/APIs/obj
/src/Misc/BuildsSite/Models/bin/Debug/netstandard2.0
/src/Misc/BuildsSite/Models/obj
/src/Misc/BuildsSite/packages
/src/Misc/BuildsSite/Tests/bin
/src/Misc/BuildsSite/Tests/obj
/src/Misc/BuildsSite/Tests/appsettings.Development.json
/src/Misc/BuildsSite/UnitTests/bin/Debug/net6.0
/src/Misc/BuildsSite/UnitTests/obj/Debug/net6.0
/src/Misc/BuildsSite/Web/ClientApp/.env.development
/src/Misc/packages
**/.vscode
*.tmp
*.tmp.*
/src/SPO/Scripts.AITrackerInstaller/AITracker/builduntdeploy.ps1
/src/AnalyticsEngine/Web/Properties/PublishProfiles
/src/SPO/Scripts.AITrackerInstaller/DevConfig.json
/src/Misc/BuildsSite/Web/ClientApp/.env
/src/Misc/BuildsSite/Web/appsettings.Development.json
/src/Misc/BuildsSite/Web/Properties/ServiceDependencies/m365advancedanalytics - Web Deploy

# Avoid having the pbix files in the repo
/reports/Usage Analytics/*.pbix
