<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<appSettings xdt:Transform="Replace">

		<!-- Runtime app -->
		<add key="ClientID" value="" />
		<add key="ClientSecret" value="" />
		<add key="TenantGUID" value="" />
		<add key="KeyVaultURL" value="" />

		<!--Cognitive endpoint-->
		<add key="CognitiveEndpoint" value="" />
		<add key="CognitiveKey" value="" />

		<!--App Insights-->
		<add key="AppInsightsInstrumentationKey" value="" />
		<add key="AppInsightsAppId" value="" />
		<add key="AppInsightsApiKey" value="" />

		<!--Misc settings-->
		<add key="ImportJobSettings" value="Calls=false;GraphUsersMetadata=false;GraphUserApps=false;GraphUsageReports=false;GraphTeams=false;ActivityLog=false;WebTraffic=True" />
		<add key="WebAppURL" value="https://localhost:44307/" />

		<!-- Audit log import settings -->
		<add key="ChunkSize" value="0.01:00:00" /><!-- 1hr -->
		<add key="DaysBeforeNowToDownload" value="6" />
		<add key="AADInstance" value="https://login.microsoftonline.com/" />
		<add key="ContentTypesListAsString" value="Audit.SharePoint" />

		<add key="BuildLabel" value="DEV_BUILD" />
	</appSettings>

	<connectionStrings xdt:Transform="Replace">
		<add name="SPOInsightsEntities" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=UnitTestingSPOInsights;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="redis" connectionString="" />
		<add name="ServiceBus" connectionString="" />
		<add name="Storage" connectionString="UseDevelopmentStorage=true" />
	</connectionStrings>

</configuration>
