<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<appSettings xdt:Transform="Replace">

		<!-- Import settings -->
		<add key="ChunkSize" value="0.01:00:00" />
		<add key="ContentTypesListAsString" value="Audit.SharePoint" />
    
		<!-- Audit.SharePoint;Audit.Exchange -->
		<add key="DaysBeforeNowToDownload" value="2" />

		<add key="ClientID" value="__ClientID__" />
		<add key="ClientSecret" value="__ClientSecret__" />
		<add key="TenantGUID" value="__TenantGUID__" />
		<add key="TenantDomain" value="__TenantDomain__" />

		<!--Cognitive endpoint-->
		<add key="CognitiveEndpoint" value="__CognitiveEndpoint__" />
		<add key="CognitiveKey" value="__CognitiveKey__" />

		<add key="CosmosDbTestContainerCurrent" value="__CosmosDbTestContainerCurrent__"/>
		<add key="CosmosDbTestContainerHistory" value="__CosmosDbTestContainerHistory__"/>
		<add key="CosmosDbTestDatabaseName" value="__CosmosDbTestDatabaseName__"/>
		<add key="CosmosDb" value="__CosmosDb__"/>

	</appSettings>


	<connectionStrings xdt:Transform="Replace">
		
		<add name="SPOInsightsEntities" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=UnitTestingSPOInsights;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="UnitTestingOffice365Services" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FakeOfficeServicesDB;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="redis" connectionString="__redis__" />
		<add name="ServiceBus" connectionString="__ServiceBus__" />
		<add name="Storage" connectionString="__Storage__" />

	</connectionStrings>

</configuration>
