
-- Insert missing lookups
INSERT INTO urls (full_url)
	SELECT distinct [url]
	FROM [${STAGING_TABLE_HIT_IMPORTS}] imports
	left join urls on urls.full_url = imports.url
	where full_url is null;

INSERT INTO page_titles (title)
	SELECT distinct imports.title 
	FROM [${STAGING_TABLE_HIT_IMPORTS}] imports
	left join page_titles on page_titles.title = imports.title
	where page_titles.title is null and imports.title is not null;

INSERT INTO users(user_name)
	SELECT distinct imports.user_name 
	FROM [${STAGING_TABLE_HIT_IMPORTS}] imports
	left join users on users.user_name = imports.user_name
	where users.user_name is null;

INSERT INTO sites(url_base)
	SELECT distinct imports.site_url 
	FROM [${STAGING_TABLE_HIT_IMPORTS}] imports
	left join sites on sites.url_base = imports.site_url
	where sites.url_base is null and imports.site_url is not null and imports.site_url != '';

INSERT INTO webs(url_base, site_id, title)
	SELECT distinct imports.web_url, sites.id, 
		(select top 1 [${STAGING_TABLE_HIT_IMPORTS}].web_title from [${STAGING_TABLE_HIT_IMPORTS}] 
			where [${STAGING_TABLE_HIT_IMPORTS}].site_url = imports.web_url) as web_title		-- get 1st web title (for MUI sites)
	FROM [${STAGING_TABLE_HIT_IMPORTS}] imports
	inner join sites on sites.url_base = imports.site_url
	left join webs on webs.url_base = imports.web_url
	where webs.url_base is null and imports.site_url is not null and imports.site_url != '';


INSERT INTO [sessions] (ai_session_id, user_id)
	select distinct sessionsToImport.ai_session_id, users.id from [${STAGING_TABLE_HIT_IMPORTS}]
	inner join 
	(
		-- Select distinct sessions
		SELECT distinct imports.ai_session_id
		FROM [${STAGING_TABLE_HIT_IMPORTS}] imports
		left join [sessions] on [sessions].ai_session_id = imports.ai_session_id
		where [sessions].ai_session_id is null
	) sessionsToImport 
		on sessionsToImport.ai_session_id = [${STAGING_TABLE_HIT_IMPORTS}].ai_session_id
	inner join users 
		on users.user_name = [${STAGING_TABLE_HIT_IMPORTS}].[user_name]
	;

INSERT INTO operating_systems(os_name)
	SELECT distinct imports.os_name 
	FROM [${STAGING_TABLE_HIT_IMPORTS}] imports
	left join operating_systems on operating_systems.os_name = imports.os_name
	where operating_systems.os_name is null and imports.os_name is not null;

INSERT INTO devices(device_name)
	SELECT distinct imports.device_name 
	FROM [${STAGING_TABLE_HIT_IMPORTS}] imports
	left join devices on devices.device_name = imports.device_name
	where devices.device_name is null and imports.device_name is not null;

INSERT INTO browsers(browser_name)
	SELECT distinct imports.browser_name 
	FROM [${STAGING_TABLE_HIT_IMPORTS}] imports
	left join browsers on browsers.browser_name = imports.browser_name
	where browsers.browser_name is null and imports.browser_name is not null;

INSERT INTO countries(country_name)
	SELECT distinct imports.country_name 
	FROM [${STAGING_TABLE_HIT_IMPORTS}] imports
	left join countries on countries.country_name = imports.country_name
	where countries.country_name is null and imports.country_name is not null;

INSERT INTO cities(city_name)
	SELECT distinct imports.city_name 
	FROM [${STAGING_TABLE_HIT_IMPORTS}] imports
	left join cities on cities.city_name = imports.city_name
	where cities.city_name is null and imports.city_name is not null;

INSERT INTO provinces(province_name)
	SELECT distinct imports.province_name 
	FROM [${STAGING_TABLE_HIT_IMPORTS}] imports
	left join provinces on provinces.province_name = imports.province_name
	where provinces.province_name is null and imports.province_name is not null;

--sp_updatestats

-- Insert hits from staging.
-- A single staging row (one page_request_id, already deduped in C# before staging) can still match
-- MORE THAN ONE row in a dimension table when that dimension holds duplicate natural-key rows - e.g.
-- two sessions sharing an ai_session_id (sessions.ai_session_id is deliberately non-unique, see
-- ImportDbHacks). urls.full_url used to be a second source of this, but migration
-- UniqueUrlsFullUrlIndex made it UNIQUE, so duplicate URLs can no longer be created (#167). The
-- defence below is still required for the session case. That fans the staging row
-- out into several candidate rows with the SAME page_request_id but different lookup ids, which
-- SELECT DISTINCT cannot collapse and which violates the unique IX_PageRequestID - failing the merge
-- with a BatchSaveException and aborting the whole day's import. ROW_NUMBER() PARTITION BY
-- page_request_id keeps exactly one candidate per page_request_id, so a single duplicate dimension
-- row can no longer poison the batch. See issue #165.
;with hitsToImport as
(
	select
		urls.id as url_id,
		imports.[hit_timestamp],
		provinces.id as location_province_id,
		browsers.id as agent_id,
		[sessions].id as session_id,
		page_titles.id as page_title_id,
		devices.id as device_id,
		operating_systems.id as os_id,
		cities.id as city_id,
		countries.id as country_id,
		imports.[page_request_id],
		imports.[sp_request_duration],
		imports.[page_load_time],
		webs.id as web_id,
		row_number() over (partition by imports.[page_request_id] order by urls.id, [sessions].id) as rowNumberPerPageRequest
	FROM [${STAGING_TABLE_HIT_IMPORTS}] imports
		inner join urls on urls.full_url = imports.url
		inner join browsers on browsers.browser_name = imports.browser_name
		inner join users on users.user_name = imports.user_name
		inner join [sessions] on [sessions].ai_session_id = imports.ai_session_id and [sessions].user_id = users.id
		left join page_titles on page_titles.title = imports.title
		inner join devices on devices.device_name = imports.device_name
		inner join operating_systems on operating_systems.os_name = imports.os_name
		left join cities on cities.city_name = imports.city_name
		left join countries on countries.country_name = imports.country_name
		left join webs on webs.url_base = imports.web_url
		left join provinces on provinces.province_name = imports.province_name
		left join hits duplicatePageRequestHits on  duplicatePageRequestHits.page_request_id = imports.page_request_id
	where duplicatePageRequestHits.page_request_id is null
)
insert into hits (
		url_id,
		hit_timestamp,
		location_province_id,
		agent_id,
		session_id,
		page_title_id,
		device_id,
		os_id,
		city_id,
		country_id,
		page_request_id,
		sp_request_duration,
		page_load_time,
		web_id
	)
	select
		url_id,
		hit_timestamp,
		location_province_id,
		agent_id,
		session_id,
		page_title_id,
		device_id,
		os_id,
		city_id,
		country_id,
		page_request_id,
		sp_request_duration,
		page_load_time,
		web_id
	from hitsToImport
	where rowNumberPerPageRequest = 1;