<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings xdt:Transform="Replace">

		<!-- Import settings -->
		<add key="ChunkSize" value="0.01:00:00" />
		<add key="ContentTypesListAsString" value="Audit.SharePoint" />
		<add key="DaysBeforeNowToDownload" value="2" />

		<!-- Runtime account -->
		<add key="ClientID" value="" />
		<add key="ClientSecret" value="" />
		<add key="TenantGUID" value="" />

		<!-- Cognitive endpoint -->
		<add key="CognitiveEndpoint" value="" />
		<add key="CognitiveKey" value="" />

		<!-- Unit-test specific -->
		<add key="CosmosDbTestContainerCurrent" value=""/>
		<add key="CosmosDbTestContainerHistory" value=""/>
		<add key="CosmosDbTestDatabaseName" value=""/>
		<add key="CosmosDb" value=""/>

	</appSettings>

	<connectionStrings xdt:Transform="Replace">
		
		<add name="SPOInsightsEntities" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=UnitTestingSPOInsights;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="UnitTestingOffice365Services" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FakeOfficeServicesDB;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="redis" connectionString="" />
		<add name="ServiceBus" connectionString="" />
		<add name="Storage" connectionString="UseDevelopmentStorage=true" />

	</connectionStrings>

</configuration>
