<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<!--Copy from debug file if you need to test a release build.-->
	<appSettings xdt:Transform="Replace">
		<add key="DaysBeforeNowToDownload" value="6" />
		<add key="AADInstance" value="https://login.microsoftonline.com/" />
		<add key="ContentTypesListAsString" value="Audit.SharePoint;Audit.General" />
		<add key="ChunkSize" value="0.01:00:00" />

		<add key="BuildLabel" value="__BuildLabel__" />
		
		<!--Analytics Telemetry Stats endpoint-->
		<add key="StatsApiSecret" value="__StatsApiSecret__" />
		<add key="StatsApiUrl" value="__StatsApiUrl__" />
	</appSettings>

</configuration>
