<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	
  <appSettings xdt:Transform="Replace">

    <!-- This is the blob storage URL that's used to download latest versions of the solution -->
    <add key="SoftwareDownloadURL" value="" />
    
		<add key="BuildLabel" value="DEV_BUILD" />
  </appSettings>

</configuration>
