<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	
	<!--Copy from debug file if you need to test a release build.-->
	<appSettings xdt:Transform="Replace">
		<add key="BuildLabel" value="__BuildLabel__" />
	</appSettings>
	
</configuration>
