
@{
    ViewBag.Title = "Credentials Invalid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Credentials Invalid</h2>


<p>It looks like you need to re-authenticate. Why? Not sure, but the token you had either disappeared or isn't valid anymore.</p>
<p>Fix this by <a asp-action="SignOut">Logging-out &amp; in again</a></p>
